* {
    border: 0;
    color: #5A4237;
    font-family: "lato", sans-serif;
    padding: 0;
    margin: 0;
}
.first, .second { background-size: 110%; min-height: 600px; height: 100vh; }
.first.cover{ background: url('../images/b.jpg') fixed no-repeat; background-size: cover; }
.first .title {
    color: #D6D6D8;
    font-family: "museo";
    font-size: 13rem;
    margin: 18% auto 0% 50px;
    text-shadow: 2px -2px 0 #5A4237;
    letter-spacing: -0.618rem;
}
.first .subtitle { color: #D7C249; margin: 21px auto 0 58px; text-shadow: 2px -2px 0 #5A4237; }
.know-more {
    bottom: 60px;
    color: #FFF;
    font-size: 20px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    position: absolute;
    width: auto;
}
.first .know-more a {
    background: rgba(255, 255, 255, .2);
    border: 1px solid #C00337;
    border-radius: 5px;
    color: #C00337;
    padding: 5px;
}
.second { background: #D6D6D8; padding: 80px 0 0 0;}
.second article h3 { color: #C00337; font-size: 5rem; margin: 0 auto 40px 0; }
.second article h4 { color: #C00337; font-size: 3rem; margin: 0 auto 40px 0; }
.second p { font: normal 2.1rem/3.6rem "lato", sans-serif; }
.second .disclaimer-bad { color: #591004; }
.second a { color: #000; text-shadow: 0 1px 0 #FFF; }
.second .partial {
    background: #FFF;
    height: auto;
    margin: 30px 0 20px 0;
    padding: 60px 0 0 0;
}
.second .help-button {
    background: rgba(90, 66, 55, 0.1);
    border: 1px solid #5A4237;
    border-radius: 5px;
    display: block;
    margin: 40px auto;
    padding: 10px;
    width: 250px;
}
.second .help-button:hover {
    transition: color 2s, background-color 2s;
    background: rgba(90, 66, 55, 0.8);
    color: #FFF;
    text-decoration: none;
}
.third h1, h2, h3, h4, h5, p, ul li { font-family:  "lato", sans-serif;}
.third .line { display: block; min-height: 180px; height: 30vh; }
.third .explain,
.third .final-explain,
.fourth .manifest,
.fourth .form p { font-size: 1.8rem; line-height: 3.2rem;}
.third .monitor p { font-size: 1.618rem; }
.third .features { margin-top: 20px; }
.third .features li { font-size: 1.6rem; list-style-type: none; }
.third .features li::before { content: '-'; margin-right: 15px; }
.fourth {
    background: url('../images/g.jpg') fixed center no-repeat;
    background-size: cover;
    padding: 100px 0;
    height: 100vh;
    min-height: 600px;
}
.fourth .manifest, .fourth .form {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), #FFF);
    border-radius: 5px;
    padding: 50px;
    min-height: 400px;
}
.fourth .manifest p { margin: 30px 0; line-height: 2.8rem; text-shadow: 0 -1px 0 #D6D6D8; }
.fourth .form p { margin: 20px; }
.fourth .form form { display: block; margin: 30px 0; width: 100%; }
.fourth .form label,
.fourth .form input,
.fourth .form button { display: inline-block; vertical-align: middle; }
.fourth .form label,  .fourth .form button { width: 16% }
.fourth .form label { padding-right: 10px; text-align: right; }
.fourth .form input {
    border: 1px solid #C00337;
    border-radius: 5px;
    font-size: 2rem;
    height: 53px;
    padding: 0 10px 0  10px;
    width: 62%;
}
.fourth .form button {
    background: #C00337;
    border-radius: 5px;
    color: #FFF;
    height: 53px;
}
.fourth .sucess-alert {
    border: 1px solid #5A4237;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
}
::-webkit-input-placeholder { font-size: 2rem; text-align: center; }
:-moz-placeholder { font-size: 2rem; text-align: center; }
::-moz-placeholder { font-size: 2rem; text-align: center; }
:-ms-input-placeholder { font-size: 2rem; text-align: center; }
:-input-placeholder  { font-size: 2rem; text-align: center; }
.action-button {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    bottom: 20px;
    height: 104px;
    padding: 10px;
    position: fixed;
    right: 20px;
    width: 62px;
    z-index: 500;
}
.action-button a { display: block; }
.icon { background-size: contain !important; display: block; }
.icon.store, .icon.form { height: 158px; width: 158px; }
.icon.store { background: url('../images/store-broken-2.png') no-repeat; margin: 80px auto 0 auto;}
.icon.form { background: url('../images/form.png') no-repeat;}
.icon.devices {
    background: url('../images/devices.png') no-repeat;
    height: 100px;
    width: 280px;
    margin: 60px auto 0 auto;
}
.icon.graphos { background: url('../images/graphos.png') no-repeat; height: 138px; width: 138px; }
.icon.house { background: url('../images/house.svg') no-repeat; height: 42px; width: 42px; }
.icon.pencil { background: url('../images/pencil.svg') no-repeat; height: 42px; width: 42px; }

/* Responsiveness */
/*tablets*/
@media (max-width: 1024px) {

    .first.cover { background-size: 100%;}

    .first .title { margin: 21% auto 0% 20px; font-size: 10rem;}
    .first .subtitle { margin: 34px auto 0 13px; }

    .third .explain,
    .third .final-explain { font-size: 1.9rem; line-height: 2.5rem;}

    .icon.devices { width: 280px; }
    .icon.store { height: 188px; margin: 0 auto; width: 188px; }

    .fourth .form label { display: block; text-align: center; width:100%;}
    .fourth .form input { display: inline-block; width:62%;}
    .fourth .form button { display: inline-block; width:36%;}

    ::-webkit-input-placeholder { font-size: 1.6rem; }
    :-moz-placeholder { font-size: 1.6rem; }
    ::-moz-placeholder { font-size: 1.6rem; }
    :-ms-input-placeholder { font-size: 1.6rem; }
    :-input-placeholder  { font-size: 1.6rem; }
}

@media (max-width: 768px) {

    .first { min-height: 500px; height: 500px; }
    .first.cover { background-size: contain;}
    .first .title { margin: 18% auto 0% 20px; font-size: 8rem;}
    .first .subtitle { margin: 21px auto 0 58px; width: 350px; }

    .second { min-height: 600px; height: 72vh; }
    .second .partial { padding: 60px 0 60px 0; }

    .third .explain,
    .third .final-explain,
    .fourth .manifest, .fourth .form p { font-size: 2.018rem; line-height: 2.636rem; }

    .third .features li { font-size: 2.018rem; list-style-type: none; }

    .fourth .manifest {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .fourth .form {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .icon.devices { width: 220px; margin: 0 auto; }
    .icon.graphos { margin-top:20px; }
}
/*mobile*/
@media (max-width: 480px) {

    .first .title { text-shadow: 2px -2px 0px #5A4237; }
    .first .subtitle { font-size: 21px; line-height: 31px; }
    .second {min-height: 640px; height: auto;}
    .third {padding: 20px 0;}
    .fourth { height: auto; }
    .action-button {
        bottom: 100px;
        padding: 5px;
        right: 10px;
        width: 42px;
    }

    ::-webkit-input-placeholder { font-size: 1.4rem; }
    :-moz-placeholder { font-size: 1.4rem; }
    ::-moz-placeholder { font-size: 1.4rem; }
    :-ms-input-placeholder { font-size: 1.4rem; }
    :-input-placeholder  { font-size: 1.4rem; }
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .first { min-height: 320px; }
    .first.cover{ background-size: 180%; background-position: 35% 0; }
    .first .title { font-size: 5.6rem; margin: 13% auto 0% 13px; letter-spacing: -0.2rem; }
    .first .subtitle {
        font-size: 21px;
        line-height: 31px;
        margin: 13px auto 0 40px;
        width: 45%;
    }

    .know-more {
        bottom: 20px;
        color: #FFF;
        font-size: 13px;
        left: 50%;
        margin-left: -50px;
        text-align: center;
        position: absolute;
        width: auto;
    }

    .second {min-height: 640px; height: auto;}
    .second { padding: 40px 0 0 0;}
    .second article h3 { font-size: 2.5rem; margin: 0 auto 0 auto; }
    .second article h4 { font-size: 2.0rem; margin: 0 auto 21px auto; }
    .second p { font: normal 1.618rem/2.336rem "lato", sans-serif; }
    .second .partial { margin: 20px 0 0 0; padding: 20px 0 0 0}

    .third {padding: 20px 0;}
    .third h1 {font: normal 2.618rem/3.336rem "lato", sans-serif; }
    .third h2 {font: normal 2.2rem/2.818rem "lato", sans-serif; }

    .third .explain,
    .third .final-explain,
    .fourth .manifest, .fourth .form p { font-size: 1.618rem; line-height: 2.336rem }

    .third .line { height: auto; }

    .fourth { height: auto; }
    .fourth .form label { width: 100%; text-align: center; }
    .fourth .form button { width: 37%}
    .fourth .form input { width: 61.8%}

    .icon {margin: 0 auto; }
    .icon.devices, .icon.store { height: 180px; }
    .icon.house, .icon.pencil { height: 32px; width: 32px; }

    .action-button { height: 74px; }

    .fourth .manifest, .fourth .form {
        background: rgba(255, 255, 255, 0.8);
        min-height: 320px;
        margin-top: 40px;
        padding: 20px 25px;
    }
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    .first.cover{ background-size: 280%; background-position: 35% 0; }
    .first .title { font-size: 4.2rem; margin: 65% auto 0% 13px; letter-spacing: 0rem; }
    .first .subtitle { margin: 5px auto 0 21px; width: 220px; }
    .second article h3 { font-size: 2.9rem; margin: 0 auto 0 auto; }
    .second article h4 { font-size: 2.1rem; margin: 0 auto 21px auto; }
    .second .partial { margin: 30px 0 0 0;}
    .second p { font: normal 1.7rem/2.6rem "lato", sans-serif; }

    .third h1 {font: normal 2.829rem/3.3rem "lato", sans-serif; text-align: center; }
    .third h2 {font: normal 2.2rem/3.3rem "lato", sans-serif; }

    .third .features li { font-size: 1.618rem; list-style-type: none; }

    .third .explain,
    .third .final-explain,
    .fourth .form p,
    .fourth .manifest { font-size: 1.518rem; line-height: 2.1rem;}

    .fourth .form p { margin: 20px 0; }
    .third .line{ height: auto;}
    .fourth .form label,  .fourth .form button, .fourth .form input { margin: 5px auto; width: 100% }
    .fourth .form label { text-align: center; }

    .fourth .manifest, .fourth .form { background: rgba(255, 255, 255, 0.8); padding: 20px 25px; margin-top: 30px;}

    .action-button { height: 84px; }

    .icon.devices { margin: 10px auto; width: 220px; }
    .icon.form {margin: 0 auto;}
    .icon.graphos { margin: 0 auto;}
    .icon.store { height: 178px; width: 178px; margin: 0 auto; }
    .icon.house { background: url('../images/house.svg') no-repeat; height: 32px; width: 32px; }
    .icon.pencil { background: url('../images/pencil.svg') no-repeat; height: 32px; margin-top: 5px; width: 32px; }
}
